body,footer {
	color: #ffffff;
	background-color: #0C0C0C;
	height: 100%;
	font-family: 'Coming Soon', cursive;
}
/*
.container-fluid {
    padding: 60px 50px;
}
*/
.jumbotron {
	margin-bottom: 0;
	height: 500px;
	padding: 100px 25px;
	background-color: #F0DF2B;
	color: #3b3a36;
    
}

.navbar {
    background-color: #F0DF2B;
    z-index: 9999;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
	padding: 15px 0px;
    border: 0;
	margin-bottom: 0;
	font-size: 12px;
    letter-spacing: 4px;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
	font-family: 'Covered By Your Grace', cursive;
	font-weight:bold;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #F0DF2B !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.tilt {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.08);
}

/*
.bw img{
  -webkit-filter: grayscale(100%);
}
*/

a {
	text-decoration: none !important;
	color: #3b3a36;
}

/*
h4.pline {
    -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

h4.pline:hover {
	color:red;
	letter-spacing: 50px;
}*/

.about {
	background-color: #F0DF2B;
	padding: 60px 50px; 
	color: #3b3a36;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;

}

.thumbnail img {
    margin-bottom: 10px;
	
}

#home h1, #home p {
	font-family: 'Satisfy', cursive;
}

h2 {
	font-family: 'Covered By Your Grace', cursive;
	font-weight: bold;
}
#about p {
	color: #ffffff;
}

.arrow:hover {
  -webkit-animation: pulse 1s linear infinite; 
  -moz-animation:    pulse 1s linear infinite;
  -o-animation:      pulse 1s linear infinite;
  animation:         pulse 1s linear infinite; 
}

@-webkit-keyframes pulse {
  0%   { -webkit-transform: scale(1.1); }
  50%  { -webkit-transform: scale(0.8); }
  100% { -webkit-transform: scale(1);   }
}
@-moz-keyframes pulse {
  0%   { -moz-transform: scale(1.1); }
  50%  { -moz-transform: scale(0.8); }
  100% { -moz-transform: scale(1);   }
}
@-o-keyframes pulse {
  0%   { -o-transform: scale(1.1); }
  50%  { -o-transform: scale(0.8); }
  100% { -o-transform: scale(1); }
}
@keyframes pulse {
  0%   { transform: scale(1.1); }
  50%  { transform: scale(0.8); }
  100% { transform: scale(1); }
}